<div class="page-banner-bg banner-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1>What do people praise <br> about <span>our excellence!</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="testimonials-content">
                        <div class="testimonials-row text-center wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <div class="testimonials-avater">
                                <img src="../../assets/testo/yashwantray.png" alt="">
                            </div>
                            <h4>Yashwant Ray</h4>
                            <span>Diamond Portal</span>
                            <div class="testimonials-info mt-4">
                                <p>Diamond Nexus is a product that puts customers first. They support customer needs. It perfectly do justice to its tag line "We build satisfaction, not just a product!"</p>
                            </div>
                        </div>
                        <div class="testimonials-row text-center wow fadeInUp" data-wow-duration="1s" style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                            <div class="testimonials-avater">
                                <img src="../../assets/testo/johnmedison.png" alt="">
                            </div>
                            <h4>John Madison</h4>
                            <span>Diamond Portal</span>
                            <div class="testimonials-info mt-4">
                                <p>Diamond Nexus is a wonderful product to have for the diamond company. The majority of people who work here love the software. There are many people here that have 10 plus years in already and they fill the best software till date they have used. I believe with the seriously high cost of living now that we are just not paid high enough especially if you are a
                                    single individual. The cost of living just keeps going up and up and up and this product worth everything.</p>
                            </div>
                        </div>
                        <div class="testimonials-row text-center wow fadeInUp" data-wow-duration="1s" style=" animation-duration: 1s; animation-name: none;">
                            <div class="testimonials-avater">
                                <img src="../../assets/testo/manohar kumar.png" alt="">
                            </div>
                            <h4>Manohar Kumar</h4>
                            <span>Diamond Portal</span>
                            <div class="testimonials-info mt-4">
                                <p>Diamond Nexus is a perfect software for our organisation, and it has everything that wee need. The best part is the on-time service and world class service that we ever had before. Most most recommended!!!</p>
                            </div>
                        </div>
                        <div class="testimonials-row text-center wow fadeInUp" data-wow-duration="1s" style=" animation-duration: 1s; animation-name: none;">
                            <div class="testimonials-avater">
                                <img src="../../assets/testo/piyushmehra.png" alt="">
                            </div>
                            <h4>Piyush Mehra</h4>
                            <span>Diamond Portal</span>
                            <div class="testimonials-info mt-4">
                                <p>Just one word - UNBELIEVABLY AWESOME! Don't think for twice, just go for it and you never regret it for sure.</p>
                            </div>
                        </div>

                    </div>
                    <div class="mt-4 text-center">
                        <a href="javascrpit:;" class="theme-btn">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-space business-contact bg-image text-center d-flex justify-content-center align-items-center"  style=" position: relative; z-index: 0; background-attachment: scroll; background-size: auto;">
        <div class="container">
            <h6>Are you ready for a better,</h6>
            <h2>More productive Business?</h2>
            <a href="contact-us.html" class="theme-btn bg-theme-yellow-btn">Contact Us Now</a>
        </div>
        <div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat;  position: fixed; top: 0px; left: 0px; width: 2628.18px; height: 711.8px; overflow: hidden; pointer-events: none; margin-left: -554.492px; margin-top: -232.9px; visibility: visible; ">
            </div>
        </div>
    </section>
</div>