<div class="page-banner-bg banner-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-banner-content">
                    <h1>About Us</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb mt-3">
                            <li class="breadcrumb-item"><a href="#">Company</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s"
                    style="visibility: visible; animation-duration: 1s; animation-name: fadeInUp;">
                    <div class="about-content mb-4">
                        <h3>Ensure results today and readiness tomorrow.</h3>
                        <p>We are leading the Diamond industry's IT movement into tomorrow‘s value-enabled world. No
                            other IT partner integrates your information so you can take action across all your
                            products, apps and even across the website in real-time sync. Imagine the value of enabling
                            multiple product integrations – without having to rip-and-replace or rework any of your
                            systems.</p>
                        <p>We‘re pioneering comprehensive diamond process solutions and integrating across the different
                            processes. We partner with you to enable smarter diamond process delivery. We also work with
                            CMS and CRM systems.</p>
                        <p>Take a closer look at ProLance IT. Experience how our Manufacturing, Selling (Certified +
                            Loose), Financial Account, Website and Application solutions can give you connected
                            information and insights like never before. It‘s everything you need to confidently meet
                            your clinical, operational and business goals.
                        </p>

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="about-our-content">
                                <h5>Our <span class="theme-t-yellow-clr">Mission</span></h5>
                                <p>To eliminate people's hard work by smart work using our great Diamond ERP System.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="about-our-content">
                                <h5>Our <span class="theme-t-yellow-clr">Vision</span></h5>
                                <p>Ensure results today and readiness tomorrow.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-our-img mt-4 mt-lg-0 wow fadeInUp" data-wow-duration="0.5s"
                       >
                        <img src="../../../assets/about-us/about-1.png" class="img-fluid w-100" alt="">
                    </div>
                    <div class="row">
                        <div class="col-md-6 wow fadeInUp" data-wow-duration="1s"
                           >
                            <div class="about-our-img mt-4">
                                <img src="../../../assets/about-us/about-2.png" class="img-fluid w-100" alt="">
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInUp mt-4" data-wow-duration="1.5s"
                            >
                            <div class="about-our-img">
                                <img src="../../../assets/about-us/about-3.png" class="img-fluid w-100" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="curve-bg" style="bottom:-2px">
        <img src="../../../assets/curve-1.svg" class="img-fluid" alt="">
    </div>
    <section class="work-space light-bg position-relative ">
        <div class="pattern-part pattern-2"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s"
                   >
                    <img src="../../../assets/about-us/how-started.png" class="img-fluid w-100" alt="How we started">
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1s"
                   >
                    <div class="services-nameinfo mt-4 mt-lg-0">
                        <h2>Who we are</h2>
                        <p>We live by our vision, and improving people’s working life starts with our own company and
                            products. We’re building a platform and products we believe in – as well as a strong,
                            diverse team of enthusiastic, passionate, creative people who want to do the best work and
                            support each other in the process. </p>
                        <p>Our leadership includes some of the most inventive and experienced executives in the
                            technology industry. </p>
                        <p>Careers at ProLance IT offer all kinds of opportunities and a simpler, more pleasant, more
                            productive working life. </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-space bg business-contact text-center d-flex justify-content-center align-items-center"
        data-jarallax="{&quot;speed&quot;: 0.3}">
        <div class="container">
            <h6>Are you ready for a better,</h6>
            <h2>More productive Business?</h2>
            <a href="contact-us.html" class="theme-btn bg-theme-yellow-btn">Contact Us Now</a>
        </div>
        <div id="jarallax-container-0"
            style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
            <div
                style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(&quot;https://prolanceit.in/assets/images/business-contact.png&quot;); position: fixed; top: 0px; left: 0px; width: 2309.17px; height: 625.4px; overflow: hidden; pointer-events: none; margin-left: -672.185px; margin-top: 48.3px; visibility: visible; transform: translateY(799.29px) translateZ(0px);">
            </div>
        </div>
    </section>
</div>